{% extends 'base.html' %}

{% block h1 %}
Новый пост
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="author">Автор</label>
      <input type="text" class="form-control" id="author" name="author" placeholder="Ваше имя">
    </div>
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Название поста">
    </div>
    <div class="form-group">
      <label for="category">Категория</label>
      <select class="form-control" name="category">
        <option>Управление</option>
        <option>Развитие</option>
        <option>Природа</option>
        <option>Спорт</option>
      </select>
    </div>
    <div class="form-group">
      <label for="content">Пост</label>
      <textarea class="form-control" id="content" name="content" rows=10></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
{% endblock %}