{% for ad in ads %}
  {% if ad.type == 'type1' %}
  <div class="card" style="width: 18rem; margin-bottom: 5px;">
    <div class="card-body">
      <h5 class="card-title">{{ ad.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ ad.subtitle }}</h6>
      <p class="card-text">{{ ad.text }}</p>
      <a href="#" class="card-link">{{ ad.link }}</a>
    </div>
  </div>
  {% elif ad.type == 'type2' %}
  <div class="card" style="width: 18rem; margin-bottom: 5px;">
    <img class="card-img-top" src="{{ ad.image }}">
    <div class="card-body">
      <p class="card-text">{{ ad.text }}</p>
    </div>
  </div>
  <!-- Добавить еще какой нибудь тип карточки, можно посмотреть на https://getbootstrap.com/docs/4.1/components/card/ -->
  {% endif %}
{% endfor %}
